* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body {
    margin: 0px;
}

.nav-bar {
    display: flex;
    justify-content: center;
    height: 75px;
    padding: 12px;
    background-color: #F55A5A;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    
    
}

.title {
    align-self: center;
    color: white;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 2px 0 #000;
    font-size: 16px;
    padding: 8px;
     
    
}

.logo {
    align-self: center;
    height: 30px;

}


.card-container {
    max-width: 600px;
    margin: 24px auto;
}
.card {
    display: flex;
    align-items: center;
    height: 200px;
    margin-bottom: 24px;
    padding: 12px;
    
}

.card-info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    overflow: scroll;
    
}

.card-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 2px;
    padding-top: 12px;
    
}


.pin {
    padding-right: 10px;
    
}

a {
    letter-spacing: normal;
    text-decoration: underline;
    padding-left: 10px;
    color: #918E9B;
    /* text-shadow: 0.2px 0.1px 0.8px #F55A5A; */
}


.img {
    display: flex;
    align-self: center;
    width: 124px;
    height: 168px;
    border-radius: 5px;
    margin-top: 4px;
    
    
}

.card-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: bold;
}

.card-description {
    font-size: 12px;
    color: #2B283A;
}

.bold-text {
    font-weight: bold;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}